<div class="card">
    <div class="card-body">
        <h1>Acerca de...</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam facilis, officiis, 
            deleniti atque assumenda eligendi explicabo cumque voluptatum perferendis exercitationem iste, beatae reprehenderit nam! Veritatis, dicta nobis, 
            excepturi corporis aliquid fugiat nisi, ullam assumenda dolor minima sunt culpa! Tempora, consequuntur?</p>
    </div>
</div>